<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/Adopted.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap" rel="stylesheet">
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>Adopted</title>
</head>
<body>

<div class="container">
<!--Header-->
<div class="header">

</div>


<!--Main-->
<div class="main">
    <p>Hello!We have received your adopting request!</p>
    <p>A volunteer will contact you via e-mail,
        so you can visit the animal shelter and begin the adoption process if you wish to!</p>
</div>

    <button type="button"><a href="templates/main.html">Return to main</a></button>

<!--Footer-->
<div class="footer">


  <div class="content">
                    <span class="follow">Follow us
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-brands fa-instagram"></i>
                    </span>
  </div>
</div>

</div>
</body>
</html>